[Desktop Entry]
Encoding=UTF-8
Name=XMonad
Comment=Lightweight tiling window manager
Exec=/home/skuli/.cabal/bin/xmonad
Icon=xmonad.png
Type=XSession
